{% extends 'C:/123/SchoolNews/SchoolNews/main/templates/main/layout.html' %}
{% load static %}

{% block title %}О нас{% endblock %}

{% block content %}
<div class="about-container">
    <div class="header-section">
        <h1>О нас</h1>
    </div>
    <div class="content-section">
        <h2>Полное наименование</h2>
        <p>Муниципальное бюджетное общеобразовательное учреждение "Родинская средняя общеобразовательная школа Псковского района"</p>

        <h2>Сокращенное наименование</h2>
        <p>МБОУ "Родинская средняя общеобразовательная школа"</p>

        <h2>Краткая информация</h2>
        <p>В настоящее время в школе обучается 300 учащихся; работает 34 работника: 18 учителей, 3 административных работника, педагог-организатор, социальный педагог, 11 работников обслуживающего персонала. Количество подвозимых на занятия обучающихся - 145.</p>

        <h3>Школа имеет 3 филиала:</h3>
        <ul>
            <li>Детский сад "Ладушки" (дер. Родина, ул. Школьная, д. 4, контактный телефон (8112)673132) включает 7 групп дошкольного образования с 150 воспитанниками;</li>
            <li>Детский сад "Малышок" (дер. Борисовичи, ул. Пражская, д. 8/12, контактный телефон (8112)201477) включает 4 группы дошкольного образования с 60 воспитанниками;</li>
            <li>Детский сад "Семицветик" (дер. Родина, ул. Никольская, д. 6, контактный телефон (8112)440075) включает 6 групп дошкольного образования с 147 воспитанниками.</li>
        </ul>

        <h3>Места проведения государственной итоговой аттестации:</h3>
        <ul>
            <li>ОГЭ - ППЭ -1153 муниципальное бюджетное общеобразовательное учреждение "Стремуткинская средняя общеобразовательная школа"</li>
            <li>ЕГЭ - ППЭ- 30 муниципальное бюджетное общеобразовательное учреждение "Писковская средняя общеобразовательная школа"</li>
            <li>Допуск к ГИА (итоговое сочинение, итоговое собеседование) 186 - муниципальное бюджетное общеобразовательное учреждение "Родинская средняя общеобразовательная школа"</li>
        </ul>

        <h2>Тип</h2>
        <p>Общеобразовательная организация</p>

        <h2>Дата создания (гос. регистрации)</h2>
        <p>27.08.1998</p>

        <h2>Руководитель</h2>
        <p>Воронин Сергей Борисович, Директор</p>

        <h2>График работы</h2>
        <p>Ежедневно с 8.00 до 17.00, выходные дни - суббота и воскресенье</p>
    </div>
</div>

<link rel="stylesheet" type="text/css" href="{% static 'main/css/about.css' %}">
{% endblock %}
