/* Основные стили для страницы "Контакты" */
.contacts {
    padding: 20px;
    background-color: var(--bg-color);
    color: var(--text-color);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 20px 0;
}

.contacts h2 {
    font-size: 24px;
    color: #007bff;
    margin-top: 20px;
}

.contacts p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 15px;
}

.contacts strong {
    font-weight: bold;
}

.contacts ul {
    list-style: none;
    padding: 0;
}

.contacts ul li {
    margin-bottom: 10px;
}

.contacts ul li a {
    color: #007bff;
    text-decoration: none;
    transition: color 0.3s;
}

.contacts ul li a:hover {
    color: #0056b3;
}
#map {
    width: 500px;
    height: 400px;
    border-radius: 10px; /* задаём радиус скругления */
    overflow: hidden; /* скрываем часть карты, которая выходит за пределы радиуса */
}
